#mid-section .container {
  background-color: var(--clr-red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
}

.countdown {
  display: flex;
  margin: 0 auto;
}

#mid-section .container .countdown .time{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin-right: 20px;
  font-size: var(--fw-bold);
  min-width: 110px;
  padding: 15px 5px 10px;
  margin: 50px 50px;
  border-radius: 4px;
  color: var(--clr-dark);
  font-size: var(--fs-h3);
}

#mid-section .container .countdown .time .span {
  font-size: var(--fs-body);
  font-weight: var(--fw-breg);
  color: var(--clr-dark);
}

#mid-section .container .btn {
  padding: 30px;
  background: var(--clr-light);
  cursor: pointer;
  border-radius: 5px;
}

#mid-section .container .btn:hover{
  transform: scale(1.1);
}


/* TYPOGRAPHY */

#mid-section .container h4{
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-breg);
  font-size: var(--fs-h2);
}

#mid-section .container a{
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
}